{% load static %}
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-2">
    <div class="card">
        <div class="pl-3 pr-3 pt-3 align-items-center text-center">
            <h5 class="card-title font-weight-bold d-inline">{{ contact.name }}</h5>
        </div>
        <div class="card-body pt-0">
            {% if contact.image == '' and contact.gender == 'F' %}
                <img class="img-fluid rounded-circle mx-auto d-block w-50 h-50"
                     src="{% static 'images/female user.png' %}" alt="{{ contact.name }} image">
            {% elif contact.image == '' and contact.gender == 'M' %}
                <img class="img-fluid rounded-circle mx-auto d-block w-50 h-50"
                     src="{% static 'images/male user.png' %}" alt="{{ contact.name }} image">
            {% elif contact.image is not None %}
                <img class="img-fluid rounded-circle mx-auto d-block w-50 h-50"
                     src="{{ contact.image.url }}" alt="{{ contact.name }} image">
            {% endif %}
            <h6><span
                    class="badge badge-secondary font-italic font-weight-light">{{ contact.date_added }}</span>
            </h6>
            <span class="badge badge-pill badge-primary">{{ contact.info }}</span>
            <a href="tel: {{ contact.phone }}" class="badge badge-success">{{ contact.phone }}</a><br>
            <a href="mailto: {{ contact.email }}" class="badge badge-success font-italic">{{ contact.email }}</a>
            <div class="pt-2">
                <a href="#" class="btn btn-sm btn-outline-info" data-toggle="tooltip" data-placement="top"
                   title="Edit">
                    <i class="far fa-edit"></i>
                </a>
                <a href="{% url 'delete' contact.id %}" class="btn btn-sm btn-outline-danger" data-toggle="tooltip"
                   data-placement="top"
                   title="Delete">
                    <i class="far fa-trash-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>